---
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';
import { defaultLocale, localizePath, useTranslations, type Locale } from '~/i18n/ui';

const locale = ((Astro.currentLocale as Locale | undefined) || defaultLocale) as Locale;
const t = useTranslations(locale);
const blogHref = localizePath('/blog', locale);
---

<div class="mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20">
  <Button variant="tertiary" class="px-3 md:px-3" href={blogHref}>
    <Icon name="tabler:chevron-left" class="w-5 h-5 mr-1 -ml-1.5 rtl:-mr-1.5 rtl:ml-1" />
    {t('blog.listTitle')}
  </Button>
</div>
